HOST=0
PORT=3030
PUBLIC_URL=https://prox-plum-two.vercel.app
ALLOWED_ORIGINS=https://beta.anicloud.xyz,https://ani.devxjin.site,https://devzanime.vercel.app,http://localhost:5173,https://prox-plum-two.vercel.app,https://anime.devxjin.site,http://localhost:5173,capacitor://localhost,http://localhost,https://localhost
